.alert {
  display: none;
}

.btn-plain {
  border: none;
  box-shadow: none;
}

.rotate90 {
  transform: rotate(90deg);
}

#advSearch,
#expandedAdvSearch {
  display: none;
}

#content {
  max-width: 1500px;
}

#menuBar {
  width: 250px;
  left: -250px;
  height: 100vh;
  z-index: 100;
  transition: left 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
#menuBar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#menuBar.active {
  left: 0;
}

#menuButton {
  top: 10px;
  left: 15px;
  z-index: 98;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 99;
}

#overlay.active {
  display: block;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#toggleAdvSearch i {
  transition: transform 0.3s;
}

#toTop {
  display: none;
}
